body {
  font-family: "Lato", sans-serif;
  background-color: #daf1ee;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 17px;
  width: 25%;
}

.li {
  color: #41B3A3;
}

.li span{
  color: white;
}

.tablink:hover {
  background-color: #41B3A3;
}

.upperbar {
  background-color: #41B3A3;
  padding: 10px 16px;
}
.my-custom-scrollbar {
        position: relative;
        height: 500px;
        overflow: auto;
}
.table-wrapper-scroll-y {
        display: block;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
}

