body {font-family: "Lato", sans-serif;}
body{
	background-color: #cccccc;
}

/* dit is de css voor de hoofdtabjes-------------------------------------- */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 20px;
  text-align: center;
}

#Home {background-color:#41B3A3;}
#Help {background-color:#4151B3;}
#Disclaimer {background-color:#A341B3;}
#About {background-color:#B34151;}



