body {font-family: "Lato", sans-serif;}
body{
	background-color: #daf1ee;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 17px;
  width: 25%;
}

.li {
  color: #41B3A3;
}

.li span{
  color: white;
}

.tablink:hover {
  background-color: #41B3A3;
}

.upperbar {
  background-color: #41B3A3;
  padding: 10px 16px;
}

