<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="/static/melon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='webpage.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="Disclaimer" class="upperbar">
  <h1 style="text-align: center;">Disclaimer</h1>
  <div style="text-align: center;">Welcome to the disclaimer page! This is where you'll find our disclaimers.</div>
</div>
<nav class="navbar navbar-expand-lg navbar-light primary-color">
    <div id="buttonbar" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="webpage.html"><span>Home</span></a></li>
            <li class="nav-item"><a class="nav-link" href="Help.html"><span>Help</span></a></li>
            <li class="nav-item"><a class="nav-link" href="Disclaimer.html"><span>Disclaimer</span></a></li>
            <li class="nav-item"><a class="nav-link" href="About.html"><span>About</span></a></li>
        </ul>
    </div>
</nav>

<hr>
<h1>Disclaimer page</h1>
<p><img src="/static/bittermelon.png" width="25" height="25">Where our <strong>diseases</strong> came from:</p>
<p><small>&nbsp; The diseases on our list have been gathered by searching the health benefits of bitter gourd. A few examples from our list are diabetes, asthma and cancer.</small></p>
<hr>
<p><img src="/static/bittermelon.png" width="25" height="25">Where our <strong>compounds</strong> came from:</p>
<p><small>&nbsp; Our compounds list is based on the compounds named in 2 papers. The first by Horax et al(Horax, Hettiarachchy, & Islam, 2005), The second one by Cuong et al.(Cuong, Kwon, Jeon, Park, & Park, 2018, pp. 1–3) </small></p>
<p><small>&nbsp; first article: Horax, R., Hettiarachchy, N., & Islam, S. (2005). Total Phenolic Contents and Phenolic Acid Constituents in 4 Varieties of Bitter Melons (Momordica charantia) and Antioxidant Activities of their Extracts. Journal of Food Science, 70(4), 1–6. Retrieved from https://www.researchgate.net/publication/227608190_Total_Phenolic_Contents_and_Phenolic_Acid_Constituents_in_4_Varieties_of_Bitter_Melons_Momordica_charantia_and_Antioxidant_Activities_of_their_Extracts</small></p>
<p><small>&nbsp; second article: Cuong, D., Kwon, S. J., Jeon, J., Park, Y., & Park, J. (2018). Identification and Characterization of Phenylpropanoid Biosynthetic Genes and Their Accumulation in Bitter Melon (Momordica charantia). Molecules, 23(2), 2–8. Retrieved from https://www.mdpi.com/1420-3049/23/2/469</small></p>
<hr>
<p><img src="/static/bittermelon.png" width="25" height="25">What did we <strong>search</strong> for?</p>
<p><small>&nbsp; The searching method we used is called co-occurence. All of the diseases on our list are combined with all the compounds on our list, and these combinations are searched in our dataset.</small></p>
<hr>
<p><img src="/static/bittermelon.png" width="25" height="25">What is our <strong>sunburst</strong> data?</p>
<p><small>&nbsp; The data in our sunburst is not all bitter gourd articles. We decided to start with more articles by first searching for the co-occurence of all combinations between our list of diseases and our list of compounds.</small></p>
<hr>
<p><img src="/static/bittermelon.png" width="25" height="25"><strong>Downloading</strong> your selected articles:</p>
<p><small>&nbsp; Our download button does not yet work the way we hoped it would. You will find on our help page (How do I download the articles that I am interested in?) how to work around it for now.</small></p>
<hr>


</body>
</html> 
