<!DOCTYPE html>
<html>
<link rel="icon" type="image/png" href="melon.png">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="Disclaimer" class="upperbar">
  <h1><center>Disclaimer</center></h1>
  <p><center>Welcome to the disclaimer page! This is where you'll find our disclaimers.</center></p>
</div>

<button class="tablink" id="defaultOpen"><li><a href="webpage.html"><span>Home</span></a></li></button>
<button class="tablink" ><li><a href="Help.html"><span>Help</span></a></li></button>
<button class="tablink" ><li><a href="Disclaimer.html"><span>Disclaimer</span></a></li></button>
<button class="tablink" ><li><a href="About.html"><span>About</span></a></li></button>

<hr>
<h1>Disclaimer page</h1>
<p><img src="bittermelon.png" width="25" height="25"><strong>Database</strong> disclaimers:</p>
<p><small>&nbsp; Our database has last been updated on ...</small></p>
<p><small>&nbsp; </small></p>
<hr>
<p><img src="bittermelon.png" width="25" height="25"><strong>Sunburst</strong> disclaimers:</p>
<p><small>&nbsp; Our sunburst diagram ...</small></p>
<p><small>&nbsp; </small></p>
<hr>

<style>
body {font-family: "Lato", sans-serif;}
body{
	background-color: #efdaf1;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 17px;
  width: 25%;
}

li {
  color: #A341B3;
}

li span{
  color: white;
}

.tablink:hover {
  background-color: #A341B3;
}

.upperbar {
  background-color: #A341B3;
  padding: 10px 16px;
}

</style>
</body>
</html> 
